@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Merriweather:wght@400;700&family=Roboto:wght@300;700&family=Ubuntu:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  --primary-blue: rgb(104, 224, 214);
  --secondary-blue: rgb(60, 246, 200);
  --primary-black: rgb(39, 38, 38);
}
:root {
  --width: 600px;
}
body {
  background: linear-gradient(var(--primary-blue), var(--secondary-blue));
  color: var(--primary-black);
  font-family: "Ubuntu", sans-serif;
  width: var(--width);
  margin: auto;
}
textarea {
  display: block;
  width: var(--width);
  height: 7rem;
  border: 3px solid black;
  border-radius: 0.5rem;
  font-size: medium;
  background-color: aliceblue;
}
button {
  margin: 1rem 0rem;
  border: 2px solid black;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  background-color: transparent;
}
button:hover {
  color: var(--secondary-blue);
  background-color: black;
}
#output {
  border: 3px solid black;
  height: 15vh;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: aliceblue;
}
